:root {
  font-size: 62.5%;
}

button {
  border: none;
  background: transparent;
  outline: none;
}

img {
  cursor: pointer;
}

#app {
  width: 100vw;
  height: 100vh;
  font-size: 14px;
}

.icon {
  display: inline !important;
}

.page {
  width: 100%;
  height: 100%;
  text-align: center;
}
